# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\vinzd\Documents\Files\School\WSS 12\Quarter 3\Programming 11\IntelliJ\ExpressionsAssignmentAndPractice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
